.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reset-password-form {
    width: 600px;
    height: 180px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reset-password-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .reset-password-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .reset-password-form button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-form button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    margin-top: 10px;
    padding: 10px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    border-radius: 4px;
  }