/*Diseño Responsivo para Celular*/
@media (max-width: 600px) {
    header nav {
      flex-direction: column;
      align-items: center;
    }
  
    header nav h1 {
      margin-right: 0;
    }
  
    form input,
    form textarea {
      width: 100%;
    }
  }
  
  /*Diseño Responsivo para Tablets*/
  @media (min-width: 601px) and (max-width: 1024px) {
  
    main {
      max-width: 900px;
      padding: 0 10px;
    }
  
    header nav {
      gap: 10px;
    }
  
    header nav h1 {
      font-size: 1.4rem;
    }
  
    header nav a {
      padding: 4px 8px;
      font-size: 0.9rem;
    }
  
    .careers > a {
      padding: 15px;
    }
  
    form input,
    form textarea {
      width: 80%;
      font-size: 0.9rem;
    }
  
    .faq .question {
      padding: 10px 15px;
    }
  }
  
  